html,body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

html,body:-webkit-scrollbar{
    display: none;
}

a {
    text-decoration: none;
    color: rgb(28, 28, 28);
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    color:rgb(28, 28, 28);
    font-weight: bold;
    font-size: 1.4em;
}

header{
    border-bottom: 1px solid black;
}

.logo{
    display: flex;
    width: 300px;

}


.titre{
    display: flex;
    position: absolute;
    top: 35%;
    width: 20%;
    text-align: center;
    z-index: 999;
    margin-left: 720px;
}

.panneau{
    text-align: center;
    position: relative;
    margin-top: 15vh;
}


.panneau h2 {
    background-color:white;
    border-radius: 20px;
    width: 400px;
    font-size: 3em;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -moz-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    transition: 1.0s;
}


main{
    display: flex;
    flex-direction: column;
    background: url("img/fond/Rectangle58.png");
}


            /* Tarifs */
            .tarifs{
                display: flex;
                justify-content: space-around;
                margin-top: 150px;
                flex-wrap: wrap;
                
            }

            .card1 {
                background-color: white;
                width: 300px;
                height: 350px;
                border-radius: 15px;
                text-align: center;
                margin-top: 25px;
                margin-bottom: 25px;
            }
            .tarif1{
                font-size: 1.8em;
                font-weight: bold;
            }

            .card2 {
                background-color: white;
                width: 300px;
                height: 350px;
                border-radius: 15px;
                text-align: center;
                margin-top: 25px;
                margin-bottom: 25px;
            }
            .tarif2{
                font-size: 1.8em;
                font-weight: bold;
            }

            .card3 {
                background-color: white;
                width: 300px;
                height: 350px;
                border-radius: 15px;
                text-align: center;
                margin-top: 25px;
                margin-bottom: 25px;

            }
            .tarif3{
                font-size: 1.8em;
                font-weight: bold;
            }

            .card4 {
                background-color: white;
                width: 300px;
                height: 350px;
                border-radius: 15px;
                text-align: center;
                margin-top: 25px;
                margin-bottom: 25px;

            }

            .tarif4{
                font-size: 1.8em; 
                font-weight: bold;
            }


            .prix {
                font-size: 1.7em;
            }

            .listacces {
             font-size: 1.2em;
             margin-left:25px ;
             margin-right:25px ;
            }

            /* Footer */

            footer{
                margin-top: 25px;
                border-bottom: solid 1px black;
                border-top: solid 1px black;
                text-align: center;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
            }

            .footertext{
                margin-right:50px;
                margin-left:50px;
                font-size: 2em;
                color: white;
            }

            .logocard {
                width: 70px;
                color: white;
            }
/* ------------------  RESPONSIVE --------------------- */

@media screen and (max-width:1336px) {

    /* Barre de navigation */

    nav{
        flex-direction: column;
     }
     nav ul{
         width: 100%;
         text-align: center;
         padding-left: 0;
     }
 
    .logodusite{
        order: -1;
        width: 300px
    }
 
    .logo{
     width:100%;
     
    }

    /* Footer */

footer {
    font-size: 5px
}

.logocard {
    width: 20px;
    height: 20px;
    margin-left: 35px;
}

.footertext {
    width: 50px;
    color: #404040;
}

}