body,html,p {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-scrollbar: none; /* Chrome */
    font-family: 'Roboto', sans-serif; 
}

a {
    text-decoration: none;
    color: rgb(28, 28, 28);
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    color:rgb(28, 28, 28);
    font-weight: bold;
    font-size: 1.4em;
}

.logo{
    display: flex;
    width: 300px;

}

hr{
    top: 250px;
    right: 0;
    left: 0;
    position: absolute;
}

/*Background body */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("img/fond/Rectangle58.png");
} 

main section{
    height: 39vh;
    display: flex;
    justify-content: center;
}

.titre{
    display: flex;
    position: absolute;
    top: 35%;
    width: 20%;
    text-align: center;
    z-index: 999;
    margin-left: 720px;
}

.panneau{
    text-align: center;
    position: relative;
    margin-top: 8vh;
}


.panneau h2 {
    background-color:white;
    border-radius: 20px;
    width: 400px;
    font-size: 3em;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -moz-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    transition: 1.0s;
}

/* classement 1 */

.class1{
    background-color: rgb(255, 255, 255);
    display: flex;
    top: 60%;
    position: absolute;
    width: 700px;
    text-align: center;
    z-index: 999;
    height: 300px;
    align-items: center;
    border-radius: 100vh;
    border-style:ridge;
    border-color: black;
}

.joueur1{
    width: 150px;
    z-index: 9999;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 50vh;
}

.Nb1{
    position: absolute;
    z-index: 9999;
    font-size: 45px;
    margin-left: 5vh;
}

/* Classement 2 */

.class2{
    background-color: rgb(243, 237, 237);
    display: flex;
    top: 110%;
    position: absolute;
    width: 600px;
    z-index: 999;
    height: 300px;
    align-items: center;
    margin-right: 800px;
    border-radius: 100vh;
    border-style:ridge;
    border-color: black;
}

.joueur2{
    width: 150px;
    margin-left: 17vh;
    border-radius: 50vh;
}

.Nb2{
    position: absolute;
    font-size: 45px;
    margin-left: 8vh;
}

/* classement 3*/
.class3{
    background-color: rgb(247, 247, 247);
    display: flex;
    top: 110%;
    position: absolute;
    width: 600px;
    z-index: 999;
    height: 300px;
    align-items: center;
    margin-left: 700px;
    border-radius: 100vh;
    border-style:ridge;
    border-color: black;
}

.joueur3{
    width: 150px;
    margin-left: 18vh;
    border-radius: 50vh;
}

.Nb3{
    position: absolute;
    font-size: 45px;
    margin-left: 8vh;

}

/* classement 4 */
.class4{
background-color: rgb(247, 247, 247);
display: flex;
top: 160%;
position: absolute;
width: 600px;
text-align: center;
z-index: 999;
height: 200px;
align-items: center;
border-radius: 100vh;
border-style:ridge;
border-color: black;
}

.joueur4{
    width: 100px;
    margin-left: 18vh;
    border-radius: 50vh;
}

.Nb4{
    position: absolute;
    font-size: 45px;
    margin-left: 8vh;

}

/* classement 5 */
.class5{
    background-color: rgb(247, 247, 247);
    display: flex;
    top: 200%;
    position: absolute;
    width: 600px;
    text-align: center;
    z-index: 999;
    height: 200px;
    align-items: center;
    border-radius: 100vh;
    border-style:ridge;
    border-color: black;
}
.joueur5{
    width: 100px;
    margin-left: 18vh;
    border-radius: 50vh;
}

.Nb5{
    position: absolute;
    font-size: 45px;
    margin-left: 8vh;
}


@media screen and (max-width : 1900px){
    nav{
        flex-direction: column;
    }

    nav ul{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    .logodusite{
        order:-1;
        align-items: center;
    }

    main section{
        height: 26vh;
    }

.class1{
    background-color: rgb(255, 255, 255);
    display: flex;
    top: 60%;
    position: absolute;
    width: 600px;
    text-align: center;
    z-index: 999;
    height: 100px;
    align-items: center;
    border-radius: 100vh;
    border-style:ridge;
    border-color: black;
    margin-top: 80vh;
}


.class2{
    background-color: rgb(255, 255, 255);
    display: flex;
    top: 60%;
    position: absolute;
    width: 600px;
    text-align: center;
    z-index: 999;
    height: 100px;
    align-items: center;
    border-radius: 100vh;
    border-style:ridge;
    border-color: black;
    margin-top: 100vh;
    margin-left: 136vh;
}

.class3{
    background-color: rgb(255, 255, 255);
    display: flex;
    top: 60%;
    position: absolute;
    width: 600px;
    text-align: center;
    z-index: 999;
    height: 100px;
    align-items: center;
    border-radius: 100vh;
    border-style:ridge;
    border-color: black;
    margin-top: 120vh;
    margin-right: 120vh;
}

.class4{
    background-color: rgb(255, 255, 255);
    display: flex;
    top: 60%;
    position: absolute;
    width: 600px;
    text-align: center;
    z-index: 999;
    height: 100px;
    align-items: center;
    border-radius: 100vh;
    border-style:ridge;
    border-color: black;
    margin-top: 140vh;
}

.class5{
    background-color: rgb(255, 255, 255);
    display: flex;
    top: 60%;
    position: absolute;
    width: 600px;
    text-align: center;
    z-index: 999;
    height: 100px;
    align-items: center;
    border-radius: 100vh;
    border-style:ridge;
    border-color: black;
    margin-top: 160vh;
}


/* -----------------------------   Joueurs  --------------------------------------   */

.joueur1{
    width: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.joueur2{
    width: 100px;
    margin-left: 18vh;
    border-radius: 50vh;
}

.joueur3{
    width: 100px;
    margin-left: 18vh;
    border-radius: 50vh;
}











}