html,body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

html,body:-webkit-scrollbar{
    display: none;
}

a {
    text-decoration: none;
    color: rgb(28, 28, 28);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    color:rgb(28, 28, 28);
    font-weight: bold;
    font-size: 1.4em;
}

header{
    border-bottom: 1px solid black;
}

main{
    background: url(img/fond/Rectangle\ 58.png);
    background-size: cover;
}

.space{
height: 100px;
width: 100%;
}

.logo {
    width: 300px;
}

.logoattractions{
    background-color:white;
    border-radius: 20px;
    width: 80%;
    border: 10px solid #404040;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nosattractions{
    text-align: center;
    position: relative;
    top: -50px;
}

.nosattractions h2 {
    background-color:white;
    border-radius: 20px;
    width: 400px;
    font-size: 3em;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -moz-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    transition: 1.0s;
}



.ligne1,.ligne2,img{
    width: 250px;
}

.ligne1,.ligne2{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.ligne2{
    margin-bottom: 50px;
}

.sectionplan{
    background-color:white;
    border-radius: 20px;
    width: 80%;
    border: 10px solid #404040;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}

.planduparc{
width: 100%;
}

.panneauplanduparc{
    text-align: center;
    position: relative;
    top: -50px;
}

.panneauplanduparc h2 {
    background-color:white;
    border-radius: 20px;
    width: 400px;
    font-size: 3em;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -moz-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    transition: 1.0s;
}