body,html,p {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-scrollbar: none; /* Chrome */
    font-family: 'Roboto', sans-serif; 
}

a {
    text-decoration: none;
    color: rgb(28, 28, 28);
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    color:rgb(28, 28, 28);
    font-weight: bold;
    font-size: 1.4em;
}

.logo{
    display: flex;
    width: 300px;

}

hr{
    top: 250px;
    right: 0;
    left: 0;
    position: absolute;
}

/*Background body */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("img/fond/Rectangle58.png");
    background-size: cover;
    margin-top: 100px;
    height: 100%;
} 

main section{
    /* height: 39vh; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.titre{
    display: flex;
    position: absolute;
    top: 35%;
    width: 20%;
    text-align: center;
    z-index: 999;
    margin-left: 720px;
}

.panneau{
    text-align: center;
    position: relative;
    margin-top: 8vh;
}


.panneau h2 {
    background-color:white;
    border-radius: 20px;
    width: 400px;
    font-size: 3em;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -moz-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    transition: 1.0s;
}

/* classement 1 */

.content-joueur-data{
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.Nb1{
    position: relative;
    z-index: 9999;
    font-size: 45px;
    margin-left: 5vh;
}

.class1-test{
    background-color: rgb(243, 237, 237);
    width: 600px;
    height: 300px;
    align-items: center;
    border-radius: 100vh;
    border-style:ridge;
    border-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nb1-test p{
    font-size: 50px;
    padding: 50px;
}


.joueur1-test{
    width: 150px;
    border-radius: 50vh;
}

.content-joueur-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    flex: 1;
}

.content-joueur-data .content-image-test{
    width: 150px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.pseudo-xp-test{
    flex: 1;
}

@media screen and (max-width : 1900px){
    nav{
        flex-direction: column;
    }

    .logodusite{
        order:-1;
        align-items: center;
    }


/* TEST JESSY */

/* .class1-test{
    height: 90px;
}  */

.joueur1-test{
    width: 80px;
}

.classements{
    display: flex;
    flex-direction: column;
    margin-top: auto;    
}

}

@media (max-width : 900px) {

    .classements{
        margin-top: 0;    
    }

    main{
        height: 100vh;
    }

    .class1-test,.section-joueur-jessy{
        height: 100px;
    }
    
}