html,body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

html,body:-webkit-scrollbar{
    display: none;
}

a {
    text-decoration: none;
    color: rgb(28, 28, 28);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    color:rgb(28, 28, 28);
    font-weight: bold;
    font-size: 1.4em;
}

header{
    border-bottom: 1px solid black;
}

main{
    background: url(img/fond/Rectangle58.png);
    background-size: cover;
}

.space{
    height: 100px;
    width: 100%;
}

.logo {
    width: 300px;
}

/* Logo Attractions */

.logoattractions{
    background-color:white;
    border-radius: 20px;
    width: 80%;
    border: 10px solid #404040;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.nosattractions{
    text-align: center;
    position: relative;
    top: -50px;
}

.nosattractions h2 {
    background-color:white;
    border-radius: 20px;
    width: 400px;
    font-size: 3em;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -moz-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    transition: 1.0s;
}



.ligne1,.ligne2,img{
    width: 250px;
}

.ligne1,.ligne2{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.ligne2{
    margin-bottom: 50px;
}

/* Plan du parc */
 
.sectionplan{
    background-color:white;
    border-radius: 20px;
    width: 80%;
    border: 10px solid #404040;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}

.planduparc{
width: 100%;
}

.panneauplanduparc{
    text-align: center;
    position: relative;
    top: -50px;
    
}

.panneauplanduparc h2 {
    background-color:white;
    border-radius: 20px;
    width: 400px;
    font-size: 3em;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
    -moz-box-shadow: 0px 7px 10px 0px rgba(40,40,40,0.47);
}

/* Footer */

footer{
    margin-top: 25px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.footertext{
    margin-right:50px;
    margin-left:50px;
    font-size: 2em;
}

.logocard {
    width: 70px;
}

/* Responsive */

@media screen and (max-width:1336px) {
  
    /* Barre de navigation */
  
    nav{
       flex-direction: column;
    }
    nav ul{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

   .logodusite{
       order: -1;
       width: 300px
   }

   .logo{
    width:100%;
    
   }

   /* Logo des attractions */

   .nosattractions{
       width: 100%;
       font-size: 10px;
       left: 0;
   }
   .nosattractions h2{
       width: 150px;
   }
   .ligne1, .ligne2{
       width: auto;
       padding: 20px;
   }

   /* Logo Ligne 1 */

   .logo1, .logo2, .logo3, .logo4 {
       padding-top: 25px;
   }

    /* Logo Ligne 2 */

   .logo5, .logo6, .logo7{
        padding-top: 25px;
    }

    .logo8{
        padding-top: 35px;
    }

   /* Plan du parc */

   .panneauplanduparc{
    width: 100%;
    font-size: 10px;
    left: 0;
   }
   .panneauplanduparc h2 {
    width: 250px;
}

/* Footer */

footer {
    font-size: 5px
}

.logocard {
    width: 20px;
    height: 20px;
    margin-left: 35px;
}

.footertext {
    width: 50px;
}

}