body,html,p {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    /* -ms-overflow-style: none;  IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-scrollbar: none; /* Chrome */
    font-family: 'Roboto', sans-serif; 
}


p{
    color: white;

}

a {
    text-decoration: none;
    color: rgb(28, 28, 28);
}

/* Header */

header{
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    color:rgb(28, 28, 28);
    font-weight: bold;
    font-size: 1.4em;
}

.logo{
    display: flex;
    width: 300px;

}

/* Body */ 

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("img/fond/Rectangle58.png");
}

main section{
    height: 500px;
}


.descri-attraction{
    width: 70%;
    margin: auto;
    font-size: 36px;
}

/* Footer */

footer{
    margin-top: 25px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.footertext{
    margin-right:50px;
    margin-left:50px;
    font-size: 2em;
    color: #404040;
}

/* responsive */

@media screen and (max-width : 950px){
    nav{
        flex-direction: column;
    }

    nav ul{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    .logodusite{
        order:-1;
        align-items: center;
    }

    main section{
        height: 80vh;
    }

    .taille-logo{
        height: 50vw;
        margin-top: 150px;
    }

    /* Footer */

footer {
    font-size: 5px
}

.logocard {
    width: 20px;
    height: 20px;
    margin-left: 35px;
}

.footertext {
    width: 50px;
}
}